{% extends 'base.html.twig' %}

{% block title %}Mon Panier{% endblock %}
{% block description %}Liste de vos soins en attentes de dates de rendez-vous. Aucun paiement n'est transmis en ligne, réservez simplement et profitez de votre soins à la date choisie.{% endblock %}

{% block body %}
	<section class="cart-page">
		{% if servicesWithForms is not empty %}
			<form action="{{ path('app_cart') }}" method="POST">
				<h1>Mon Panier</h1>
				<div class="services-container">
					{% for item in servicesWithForms %}
						<div class="service-item" data-service-id="{{ item.service.id }}">
							<div class="service-info">
								<div class="info">
									<p>{{ item.service.name }}
										/ Catégorie Name</p>
									<span>{{ item.service.price }}€</span>
								</div>
								<div class="buttons">
									<a href="#" class="open-calendar">
										<img src="{{asset('asset/media/icons/calendar.svg')}}" alt="Icône calendrier pour réservation" class="icons-button icons">
									</a>
									<a href="{{ path('cart_remove', {'id': item.service.id}) }}" class="btn btn-danger remove-from-cart-link">
										<img src="{{asset('asset/media/icons/shopRemove.svg')}}" alt="Icône panier soustraction pour retirer du panier" class="icons-button icons">
									</a>
								</div>
							</div>
							<div id="calendar-{{ item.service.id }}" class="calendar-options" style="display: none;">
								<h4>Réserver:</h4>
								<div class="calendar-container">
									<div class="months">
										<div class="month" id="month-calendar">
											<p>Décembre 2023</p>
										</div>
										<div class="month">
											<p>Janvier 2024</p>
										</div>
										<div class="month">
											<p>Février 2024</p>
										</div>
									</div>
									<div class="week">
										<div class="day-slots">
											<div class="day">
												<p>Lun</p>
												<span>2</span>
											</div>
											<div class="available-slots">
												<div class="slot">
													<input type="radio" name="available-slot" id="available-slot">
													<label for="available-slot">16:00</label>
												</div>
												<div class="slot">
													<input type="radio" name="available-slot" id="available-slot">
													<label for="available-slot">16:00</label>
												</div>
												<div class="slot">
													<input type="radio" name="available-slot" id="available-slot">
													<label for="available-slot">16:00</label>
												</div>
											</div>
										</div>
										<div class="day-slots">
											<div class="day">
												<p>Mar</p>
												<span>2</span>
											</div>

											<div class="available-slots">
												<div class="slot">
													<input type="radio" name="available-slot" id="available-slot">
													<label for="available-slot">16:00</label>
												</div>
											</div>
										</div>
										<div class="day-slots">
											<div class="day">
												<p>Mer</p>
												<span>3</span>
											</div>

											<div class="available-slots">
												<div class="slot">
													<input type="radio" name="available-slot" id="available-slot">
													<label for="available-slot">16:00</label>
												</div>
											</div>
										</div>
										<div class="day-slots">
											<div class="day">
												<p>Jeu</p>
												<span>4</span>
											</div>

											<div class="available-slots">
												<div class="slot">
													<input type="radio" name="available-slot" id="available-slot">
													<label for="available-slot">16:00</label>
												</div>
											</div>
										</div>
										<div class="day-slots">
											<div class="day">
												<p>Ven</p>
												<span>5</span>
											</div>

											<div class="available-slots">
												<div class="slot">
													<input type="radio" name="available-slot" id="available-slot">
													<label for="available-slot">16:00</label>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					{% endfor %}
				</div>
				<button type="submit" class="submit-button">Confirmer les Rendez-vous</button>
			</form>
		{% else %}
			<form action="{{ path('app_cart') }}" method="POST">
				<h1>Mon Panier</h1>
				<div class="services-container">
					<p>Votre panier est vide.</p>
				</div>
			</form>
		{% endif %}
	</section>
	{% include './flash_messages/flash_messages.html.twig' %}
{% endblock %}
