{% extends 'base.html.twig' %}

{% block body %}
	<section class="cart-page">
		{% if servicesWithForms is not empty %}
			<h1>Mon Panier</h1>
			<form action="{{ path('cart_submit') }}" method="POST">
				<div class="services-container">
					{% for index, item in servicesWithForms %}
						<div class="service-item" data-service-id="{{ item.service.id }}">
							<div class="service-info">
								<div class="info">
									<p>{{ item.service.name }}/ Catégorie Name</p>
									<span>{{ item.service.price }}€</span>
									<span data-service-duration="{{ item.service.duration }}">{{ item.service.duration }}
										minutes</span>
								</div>
								<div class="buttons">
									<a href="#" class="open-calendar">
										<img src="{{ asset('asset/media/icons/calendar.svg') }}" alt="" class="icons-button icons">
									</a>
									<a href="{{ path('cart_remove', {'id': item.service.id}) }}" class="btn btn-danger remove-from-cart-link">
										<img src="{{ asset('asset/media/icons/shopRemove.svg') }}" alt="" class="icons-button icons">
									</a>
								</div>
							</div>
							<div id="calendar-{{ item.service.id }}" class="calendar-options" style="display: none;">
								<h4>Réserver:</h4>
								<div class="calendar-container">
									<div
										class="months">{# Votre code pour les mois ici s'il est nécessaire #}
									</div>
									<div class="week">
										<h2>{{ item.service.name }}</h2>
										<div class="day-slots">
											{% for date, heures in creneauxParService[item.service.id] %}
												<div class="container-day">
													<div class="day">
														{{ heures[0].dayName|trans }}
														{{ heures[0].dayNumber|default('') }}
													</div>

													<div class="available-slots">
														{% set displayedTimeSlots = [] %}

														{% for creneau in heures %}
															{% if creneau.dateSelectTimeSlot >= now|date('Y-m-d') %}
																{% set timeSlotKey = creneau.dateSelectTimeSlot ~ '_' ~ creneau.start %}
																{% if timeSlotKey not in displayedTimeSlots %}
																	{% set displayedTimeSlots = displayedTimeSlots|merge([timeSlotKey]) %}

																	<div class="slot">
																		<input type="radio" id="slot_{{ date }}_{{ creneau.start }}_{{ index }}" name="selectedTimeSlot[{{ item.service.id }}][{{ index }}]" value="{{ creneau.dateSelectTimeSlot }} {{ creneau.start }}">
																		<label for="slot_{{ date }}_{{ creneau.start }}_{{ index }}">{{ creneau.start }}
																			-
																			{{ creneau.end }}</label>
																	</div>
																{% endif %}
															{% endif %}
														{% endfor %}
													</div>
												</div>
											{% endfor %}


										</div>

									</div>
									<div class="btn_submit_form">
										<input type="hidden" name="service_id[{{ index }}]" value="{{ item.service.id }}">
										<button type="submit" class="submit-button">Réserver</button>
										<a class="delete-btn" href="{{ path('cart_remove', {'id': item.service.id}) }}" class="btn btn-danger">Retirer</a>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</form>
			{% else %}
				<p>Votre panier est vide.</p>
			{% endif %}
		</section>


	{% endblock %}
