{% extends 'base.html.twig' %}
{% block body %}
	<section class="dashboard">
		<section class="welcome-dashboard">
			<h1>Bienvenue,
				<span>{{ app.user.firstname }}</span>
				!</h1>

			<div class="user-menu">
				<div class="menu">
					<a href="#my-appointments" id="show-appointments">
						<img src="{{asset('asset/media/icons/calendar.svg')}}" alt="Mes Rendez-vous">
						<p>Mes Rendez-vous</p>
					</a>
				</div>
				<div class="menu">
					<a href="#settings" id="show-settings">
						<img src="{{asset('asset/media/icons/settings.svg')}}" alt="Paramètres">
						<p>Paramètres</p>
					</a>
				</div>
				<div class="menu">
					<a href="{{path('app_logout')}}">
						<img src="{{asset('asset/media/icons/logOut.svg')}}" alt="Se Déconnecter">
						<p>Se Déconnecter</p>
					</a>
				</div>
			</div>
		</section>

		<section id="my-appointments">
			<div class="upcoming-app">
				<h2>Vos Rendez-vous à venir</h2>
				<div class="app-container">
					<div class="appointment">
						<figure class="datetime">
							<img src="{{asset('asset/media/icons/deco/agenda.svg')}}" alt="">
							<figcaption>
								<p class="date">Date •
									<span class="date-hour">Heure</span>
								</p>
							</figcaption>
						</figure>
						<figure class="service-price">
							<img src="{{asset('asset/media/icons/deco/chair.svg')}}" alt="">
							<figcaption>
								<p class="service">Service
									<span class="price">• Price</span>
								</p>
							</figcaption>
						</figure>
					</div>
				</div>
			</div>
			<div class="past-app">
				<h2>Vos Rendez-vous passer</h2>
				<div class="app-container">
					<p>Vous n'avez pas encore de rendez-vous.</p>
				</div>
			</div>
		</section>

		<section id="settings">
			<form action="#" class="form-container">
				<div class="user-names">
					<figure class="form-input">
						<img src="{{ asset('asset/media/icons/deco/lotus.svg') }}" alt="">
						<figcaption>
							<input type="text" placeholder="Nom">
						</figcaption>
					</figure>
					<figure class="form-input">
						<img src="{{ asset('asset/media/icons/deco/lotus.svg') }}" alt="">
						<figcaption>
							<input type="text" placeholder="Prénom">
						</figcaption>
					</figure>
				</div>
				
				<figure class="form-input long-input">
					<img src="{{ asset('asset/media/icons/contactPhone.svg') }}" alt="">
					<figcaption>
						<input type="text" placeholder="Mobile">
					</figcaption>
				</figure>
				<figure class="form-input long-input">
					<img src="{{ asset('asset/media/icons/contactMail.svg') }}" alt="">
					<figcaption>
						<input type="text" placeholder="Email">
					</figcaption>
				</figure>
				<figure class="form-input long-input">
					<img src="{{ asset('asset/media/icons/calendar.svg') }}" alt="">
					<figcaption>
						<input type="date">
					</figcaption>
				</figure>

				<div class="settings-buttons">
					<button class="update-btn">Modifier mes donées</button>
					<button class="delete-btn">Supprimer mon compte</button>
				</div>
			</form>
		</section>

	</section>
{% endblock %}
