{% extends 'base.html.twig' %}
{% block body %}
	<section class="dashboard">
		<section class="welcome-dashboard">
			<h1>Bienvenue,
				<span>{{ app.user.firstname }}</span>
				!</h1>

			<div class="user-menu">
				<div class="menu">
					<a href="#my-appointments" id="show-appointments">
						<img src="{{asset('asset/media/icons/calendar.svg')}}" alt="Mes Rendez-vous">
						<p>Mes Rendez-vous</p>
					</a>
				</div>
				<div class="menu">
					<a href="#settings" id="show-settings">
						<img src="{{asset('asset/media/icons/settings.svg')}}" alt="Paramètres">
						<p>Paramètres</p>
					</a>
				</div>
				<div class="menu">
					<a href="{{path('app_logout')}}">
						<img src="{{asset('asset/media/icons/logOut.svg')}}" alt="Se Déconnecter">
						<p>Se Déconnecter</p>
					</a>
				</div>
			</div>
		</section>

		<section id="my-appointments">
			<div class="upcoming-app">
				<h2>Vos Rendez-vous à venir</h2>
				<div class="app-container">
					<div class="appointment">
						<figure class="datetime">
							<img src="{{asset('asset/media/icons/deco/agenda.svg')}}" alt="">
							<figcaption>
								<p class="date">Date •
									<span class="date-hour">Heure</span>
								</p>
							</figcaption>
						</figure>
						<figure class="service-price">
							<img src="{{asset('asset/media/icons/deco/chair.svg')}}" alt="">
							<figcaption>
								<p class="service">Service
									<span class="price">• Price</span>
								</p>
							</figcaption>
						</figure>
					</div>
				</div>
			</div>
			<div class="past-app">
				<h2>Vos Rendez-vous passer</h2>
				<div class="app-container">
					<p>Vous n'avez pas encore de rendez-vous.</p>
				</div>
			</div>
		</section>

		<section id="settings">
			<form action="#" class="form-container" id="update-user-form">
				<div class="user-names">
					<figure class="form-input">
						<img src="{{ asset('asset/media/icons/deco/lotus.svg') }}" alt="">
						<figcaption>
							<input type="text" placeholder="Nom" name="last_name" value="{{ user.getLastName() }}">
						</figcaption>
					</figure>
					<figure class="form-input">
						<img src="{{ asset('asset/media/icons/deco/lotus.svg') }}" alt="">
						<figcaption>
							<input type="text" placeholder="Prénom" name="first_name" value="{{ user.getFirstName() }}">
						</figcaption>
					</figure>
				</div>

				<figure class="form-input long-input">
					<img src="{{ asset('asset/media/icons/contactPhone.svg') }}" alt="">
					<figcaption>
						<input type="text" placeholder="Mobile" name="phone" value="{{ user.getPhone() }}">
					</figcaption>
				</figure>
				<figure class="form-input long-input">
					<img src="{{ asset('asset/media/icons/contactMail.svg') }}" alt="">
					<figcaption>
						<input type="text" placeholder="Email" name="email" value="{{ user.getEmail() }}">
					</figcaption>
				</figure>
				<figure class="form-input long-input">
					<img src="{{ asset('asset/media/icons/calendar.svg') }}" alt="">
					<figcaption>
						<input type="date" name="date_of_birth" value="{{ user.getDateOfBith()|date('Y-m-d') }}">
					</figcaption>
				</figure>

				<div class="settings-buttons">
					<button type="submit" class="update-btn" id="update-user-button">Modifier mes données</button>
					<button class="delete-btn">Supprimer mon compte</button>
				</div>
			</form>
		</section>
	{% include './flash_messages/flash_messages.html.twig' %}
		<script>
			document.addEventListener("DOMContentLoaded", function () {
			document.getElementById("update-user-button").addEventListener("click", function () { // Gather form data
			var formData = new FormData(document.getElementById("update-user-form"));

			// Send an AJAX POST request to update user data
			fetch("{{ path('update_user_data') }}", {
			method: "POST",
			body: formData
			}).then(function (response) {
			if (! response.ok) {
			throw new Error("Network response was not ok");
			}
			return response.json(); // Parse JSON response
			}).then(function (data) { // Handle success, e.g., display a success message
			// Display success flash message
            var successAlert = document.querySelector(".alert-success");
            if (successAlert) {
            successAlert.style.display = "block";
            successAlert.textContent = data.message;
            setTimeout(() => {
                successAlert.style.opacity = '0'; // Trigger fade out
            }, 5000); // Adjust the time as needed
        }

		var errorAlert = document.querySelector(".alert-danger");
        if (errorAlert) {
            errorAlert.style.display = "block";
            errorAlert.textContent = "Error updating data: " + error.message;
            setTimeout(() => {
                errorAlert.style.opacity = '0'; // Trigger fade out
            }, 5000); // Adjust the time as needed
        }

			// Update the heading with the new user name
			var userHeading = document.querySelector(".welcome-dashboard h1 span");
			userHeading.textContent = data.user_data.first_name; // Update with the new first name
			}).catch(function (error) { 
				// Handle error, e.g., display an error message
                var errorAlert = document.querySelector(".alert-danger");
                errorAlert.style.display = "block";
                errorAlert.textContent = "Error updating data: " + error.message;
					});
				});
			});
		</script>
	</section>
{% endblock %}
