{% extends 'base.html.twig' %}

{% block title %}IMS Beauty - Insitut de Beauté Viriati{% endblock %}
{% block description %}IMS Beauty, votre salon de beauté à Viriat, offrant des services de qualité pour vos soins et rendez-vous beauté.{% endblock %}

{% block body %}
	<section class="homepage-CTA">
		<figure class="CTA-banner">
			<img src="{{asset('asset/media/banners/skincare-banner.webp')}}" alt="Bannière page d'Accueil - femme recevant un soin du visage. Bien être, masque du visage, soin.">
			<img src="{{asset('asset/media/deco/flower-bg-deco.svg')}}" alt="Fond d'écran décoratif floral" class="banner-deco">
		</figure>

		<div class="cta-ims">
			<figure class="logo-cta">
				<img src="{{asset('asset/media/logo/logoKhakiText.svg')}}" alt="IMS Beauty - Logo couleur texte Alternatif">
				<figcaption>
					<p>Eveillez votre beauté, révélez votre éclat.</p>
				</figcaption>
			</figure>
			<figure class="adress-cta">
				<img src="{{asset('asset/media/icons/contactLocation.svg')}}" alt="Icône de location pour contact">
				<figcaption>
					<p>{{aboutUs.adress}}</p>
				</figcaption>
			</figure>
			<div class="animated-btn btn-two">
				<a href="{{path('app_our_prices')}}">
					<span>Réservez maintenant</span>
					<img src="{{asset('asset/media/icons/deco/lotus.svg')}}" alt="Icône décoratif lotus pour bouton de redirection">
				</a>
			</div>
		</div>
	</section>

	{# INSERT HERE REDUCTION CTA #}
	{% include './components/promotion-box.html.twig' %}
{# INSERT HERE CARDS "SOINS" #}
<section class="homepage-soins">
<h1>Nos Prestations</h1>
    <div class="card-container">
        {% for category in categories %}
            {% if loop.index <= 4 %}
                <div class="category-card">
                    <figure class="category-thumbnail">
                        <img src="{{ asset('asset/media/banners/' ~ category.thumbnail) }}" alt="Banières représentant le soin {{ category.name }} par IMS Beauty" class="category-banner">
                        <figcaption>
                            <h3>{{ category.name }}</h3>
                        </figcaption>
                    </figure>

                    <div class="card-desc">
                        <p>{{ category.description
                            |replace({'<div>': '', '</div>': '', '<br>': 'PLACEHOLDER_BR', '<br/>': 'PLACEHOLDER_BR'})
                            |escape('html')
                            |replace({'PLACEHOLDER_BR': '<br>'})
                            |raw 
                        }}</p>

                        <div class="animated-btn btn-two">
                            <a href="{{ path('category_list_services', {'id': category.id}) }}">
                                <span>Savoir plus</span>
                                <img src="{{ asset('asset/media/icons/deco/lotus.svg') }}" alt="Icône décoratif lotus pour bouton de redirection">
                            </a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
	<a href="{{path('app_categories')}}">Voir plus</a>
</section>
	{# INSERT HERE INSTA FEED COMPO #}
	{% include "./components/insta-feed.html.twig" %}
	{# INSERT HERE IMS BEAUTY DESCRIPTION #}
	{% include "./components/ims-presentation.html.twig" %}

{% endblock %}
