{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
{% include './components/page-header.html.twig' with {'page_name': page_name, 'breadcrumbs': breadcrumbs} %}
<section class="category-cards">
	<div class="card-container">
			{% for category in categories %}	
				<div class="category-card">
					<figure class="category-thumbnail">
						<img src="{{ asset('asset/media/banners/' ~ category.thumbnail) }}" alt="" class="category-banner">
						<figcaption>
							<h3>{{ category.name }}</h3>
						</figcaption>
					</figure>

					<div class="card-desc">
						<p>{{ category.description
                            |replace({'<div>': '', '</div>': '', '<br>': 'PLACEHOLDER_BR', '<br/>': 'PLACEHOLDER_BR'})
                            |escape('html')
                            |replace({'PLACEHOLDER_BR': '<br>'})
                            |raw 
                        }}</p>

						<div class="animated-btn btn-two">
						<a href="{{ path('category_list_services', {'id': category.id}) }}">
						<span>Savoir plus</span>
						<img src="{{asset('asset/media/icons/deco/lotus.svg')}}" alt="">
					</a>
				</div>
					</div>

				</div>
			{% endfor %}
		</div>
</section>
	
{% endblock %}
