{% extends 'base.html.twig' %}

{% block title %}Nos tarifs chez IMS Beauty{% endblock %}
{% block description %}Accéder à la listes de nos soins et leurs tarifs directement afin de réservez rapidement et éfficacement.{% endblock %}

{% block body %}
	{% include './components/page-header.html.twig' with {'page_name': page_name, 'breadcrumbs': breadcrumbs} %}
	<section class="tarifs">
		{% for category in categories %}
			<div class="tarif-category">
				<div class="category-header" data-category-id="{{ loop.index }}">
					<div class="category-title">
						<img src="{{asset('asset/media/icons/deco/laurel.svg')}}" alt="Icône décoratif de {{ category.name }}">
						<h2>{{ category.name }}</h2>
					</div>
					<img src="{{asset('asset/media/icons/navigator/minus.svg')}}" alt="Icône symbole pour ouvrir menu des soins" id="icon-{{ loop.index }}" class="icons">
				</div>

				<div id="services-{{ loop.index }}" class="services-container">
					{% for service in category.services %}
						<div class="service-card">
							<img src="{{asset('asset/media/icons/deco/massage-stones.svg')}}" alt="Icône décorative pierres et orchidés massage et bien être" class="icon-desktop">
							{% if service.promotions|length > 0 %}
                        {% set promotion = service.promotions.first() %}
                        	<div class="promotion-info">
								<p>-{{ promotion.discount|round ? promotion.discount|round : promotion.discount }}%</p>
							</div>
                    	{% endif %}
							<div class="service-details">
								<h4>{{ service.name }}</h4>
								<h6>({{ service.duration }} minutes)</h6>
							</div>
							<span>{{ service.price }}€</span>
							<div class="alt-animated-btn">
								<a href="{{path('cart_add', {id: service.id}) }}" class="add-to-cart-link">
									<img src="{{asset('asset/media/icons/shopAdd.svg')}}" alt="Icône panier avec symbole addition pour ajouter ajouter au panier">
								</a>
							</div>
						</div>
					{% endfor %}
				</div>
			</div>
		{% endfor %}
	</section>
{% endblock %}
