{% extends 'base.html.twig' %}

{% block title %}{{ category.name }}{% endblock %}
{% block description %}{{ category.description
                            |replace({'<div>': '', '</div>': '' })
                            |escape('html')
                            |raw  }}{% endblock %}

{% block body %}
	{% include './components/page-header.html.twig' with {'page_name': page_name, 'breadcrumbs': breadcrumbs} %}
	<section class="category-row">
		<aside class="category-details-aside">
			<div class="services-liste-container">
				<div class="category-title">
					<h1>{{ category.name }}</h1>
				</div>
				<div class="category-services">
					<ul>
						{% for service in services %}
							<li class="service-name" id="service-name-{{ service.id }}" data-service-id="{{ service.id }}">
								{{ service.name }}
							</li>
						{% else %}
							<p>Aucun service à afficher pour cette catégorie.</p>
						{% endfor %}
					</ul>
				</div>
			</div>
			{# Insérer ici aussi la carte de réduction #}
			{% include './components/promotion-box.html.twig' %}
		</aside>

		<section class="service-details">
			{% for service in services %}
				<div id="service-detail-{{ service.id }}" class="service-detail-content">
					<figure
						class="service-thumbnail">
						{# Check if the service has a thumbnail; if not, use the default image #}
						{% if service.thumbnail %}
							<img src="{{ asset('asset/media/banners/' ~ service.thumbnail) }}" alt="Bannières pour {{ service.name }}">
						{% else %}
							<img src="{{ asset('asset/media/banners/' ~ category.thumbnail) }}" alt="Bannières pour {{ category.name }}">
						{% endif %}
					</figure>
					<div class="service-info">
						<div class="service-name-price">
							<h2>{{ service.name }}</h2>
							<p>{{ service.price }}
								€</p>
						</div>
						<p class="description-service">
							{{ service.description
                            |replace({'<div>': '', '</div>': '', '<br>': 'PLACEHOLDER_BR', '<br/>': 'PLACEHOLDER_BR'})
                            |escape('html')
                            |replace({'PLACEHOLDER_BR': '<br>'})
                            |raw 
                        }}
						</p>
						<p>Durée :
							<span>{{ service.duration }} minutes</span>
						</p>
					</div>
					<div class="animated-btn btn-two">
						<a href="{{path('cart_add', {id: service.id}) }}" class="add-to-cart-link">
							<span>Réservez</span>
							<img src="{{asset('asset/media/icons/deco/lotus.svg')}}" alt="Icône décoratif de lotus pour bouton de redirection">
						</a>
					</div>
				</div>
			{% else %}
				<p>Ce service n'a pas encore de description rédiger.</p>
			{% endfor %}
			{% include './flash_messages/flash_messages.html.twig' %}
		</section>
	{% endblock %}
