{% extends 'base.html.twig' %}

{% block title %}Inscription
{% endblock %}

{% block body %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<p class="alert alert-danger" role="alert">{{ flash_error }}</p>
	{% endfor %}

	<section class="register">
		<h1>Inscrivez-vous</h1>
		<div class="form-registration">
			{{ form_errors(registrationForm) }}

			{{ form_start(registrationForm) }}
			<div class="name-register register">
				{{ form_row(registrationForm.last_name) }}
				{{ form_row(registrationForm.first_name) }}
			</div>
			<div class="register">
				{{ form_row(registrationForm.email) }}
			</div>
			<div class="user-info register">
				{{ form_row(registrationForm.phone) }}
				{{ form_row(registrationForm.date_of_bith) }}
			</div>
			<div class="register">
				{{ form_row(registrationForm.plainPassword) }}
			</div>

			<div class="rgpd">
				{{ form_row(registrationForm.RGPDConsent) }}
			</div>

			<button type="submit" class="btn">
				S'inscrire
			</button>
			{{ form_end(registrationForm) }}
		</div>
	</section>

{% endblock %}
