{% extends 'base.html.twig' %}

{% block title %}Réinitialisation de mot de passe
{% endblock %}

{% block body %}
	<div class="reset_password">
		<h1>Réinitialisation de mot de passe</h1>
		{{ form_start(resetForm) }}
		<div class="form-group">
			{{ form_label(resetForm.plainPassword, 'Nouveau mot de passe :') }}
			{{ form_widget(resetForm.plainPassword)}}
		</div>
		{{ form_widget(resetForm._token) }}

		<button type="submit" class="button-links-request_email ">Réinitialiser</button>
		{{ form_end(resetForm) }}
	</div>
{% endblock %}
