<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Bienvenue chez IMS Beauty - Salon de beauté Viriati
			{% endblock %}
		</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta name="description" content="{% block description %}IMS Beauty, votre salon de beauté à Viriat, offrant des services de qualité pour vos soins et rendez-vous beauté.{% endblock %}">
		<link rel="canonical" href="{% block canonical %}http://www.imsbeautyviriat.com{% endblock %}">
		<meta name="theme-color" content="#937962"/>
		<link
		rel="icon" href="{{asset('asset/media/logo/LogoKhakiText.svg')}}">

		<!-- Social Media Meta Tags -->
		<meta property="og:title" content="{% block og_title %}Bienvenue chez IMS Beauty - Viriat{% endblock %}">
		<meta property="og:description" content="{% block og_description %}Découvrez IMS Beauty, un salon de beauté à Viriat spécialisé dans les soins personnalisés et les rendez-vous beauté.{% endblock %}">
		<meta property="og:image" content="{{asset('asset/media/logo/LogoKhakiText.svg')}}">
		<meta property="og:url" content="{% block og_url %}http://www.imsbeautyviriat.com{% endblock %}">
		<meta name="twitter:card" content="summary_large_image">

		{% block stylesheets %}
			<link rel="stylesheet" href="{{ asset('asset/css/style.css') }}">
		{% endblock %}
	</head>

	<body>
		{% include "./components/header.html.twig" %}

		<main>
			{% block body %}{% endblock %}
			<div id="cookieConsentContainer" class="cookie-consent-container" style="display: none;">
				<p>This website uses cookies to ensure you get the best experience on our website.</p>
				<button id="acceptCookies">Accept</button>
				<button id="declineCookies">Decline</button>
			</div>
		</main>
		{# Insertion du template pour les messages flash pour qu'ils apparaissent partout sur le site où ils seraient demandés ! #}
		{% include './flash_messages/flash_messages.html.twig' %}

		{% include './components/footer.html.twig' %}
		{% block javascripts %}
			<script src="{{asset('/asset/js/main.js')}}"></script>
			<script src="{{ asset('/asset/js/flashMessageHandler.js') }}"></script>
			<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

		{% endblock %}
	</body>
</html>
