{% block header %}
	<header>
		<a href="{{ path('app_page') }}">
			<img src="{{ asset('asset/media/logo/LogoWhiteText.svg') }}" alt="">
		</a>

		<div class="nav-menu">
			<nav>
				<ul>
					<li><a href="{{ path('app_page') }}""">Accueil</a></li>
					<li><a href="{{ path('app_categories') }}">Nos Soins</a></li>
					<li><a href="{{ path('app_our_prices') }}">Nos Tarifs</a></li>
					<li><a href="{{ path('app_about_us') }} ">À Propos</a></li>
					<li><a href="{{ path('app_about_us') }}#contact">Contact</a></li>
				</ul>
			</nav>
			<figure>
			{% if app.user %}
				<a href="{{path('app_dashboard')}}"><img src="{{ asset('asset/media/icons/UserF.svg') }}" alt=""></a>
			{% else %}
				<a href="{{path('app_login')}}"><img src="{{ asset('asset/media/icons/UserF.svg') }}" alt=""></a>
			{% endif %}
				<a href="{{ path('app_cart') }}"><img src="{{ asset('asset/media/icons/shopIcon.svg') }}" alt=""></a>
			</figure>
		</div>
		{# {% if app.user %}
			<a href="{{path('app_logout')}}">logout</a>
		{% else %}
			<a href="{{path('app_login')}}">login</a>
			<a href="{{path('app_register')}}">register</a>
		{% endif %} #}
	</header>
{% endblock %}
