{% block header %}
	<header>
		<a href="{{ path('app_page') }}">
			<img src="{{ asset('asset/media/logo/LogoWhiteText.svg') }}" alt="IMS Beauty - Logo d'une femme de dos avec IMS écrit en écriture majuscule blanche">
		</a>

		<div class="nav-menu">
			<nav>
				<ul>
					<li><a href="{{ path('app_page') }}">Accueil</a></li>
					<li><a href="{{ path('app_categories') }}">Nos Soins</a></li>
					<li><a href="{{ path('app_our_prices') }}">Nos Tarifs</a></li>
					<li><a href="{{ path('app_about_us') }}">À Propos</a></li>
					<li><a href="{{ path('app_about_us') }}#contact">Contact</a></li>
				</ul>
			</nav>
			<figure>
				{% if app.user %}
					<div class="user-dropdown">
						<a href="{{path('app_dashboard')}}" class="user-icon">
							<img src="{{ asset('asset/media/icons/UserF.svg') }}" alt="Icône Utilisateur Femmes - Redirection vers page Utilisateur">
						</a>
						<div class="dropdown-content">
							<a href="{{ path('app_dashboard') }}#my-appointments">Mes Rendez-vous</a>
    						<a href="{{ path('app_dashboard') }}#settings">Paramètres</a>
							<a href="{{path('app_logout')}}">Se Déconnecter</a>
						</div>
					</div>
				{% else %}
					<div class="user-dropdown">
						<a href="{{path('app_login')}}">
						<img src="{{ asset('asset/media/icons/UserF.svg') }}" alt="Icône utilisateur féminin - Redirection vers page connexion">
						</a>
						<div class="dropdown-content">
							<a href="{{path('app_login')}}">Se Connecter</a>
							<a href="{{path('app_register')}}">S'Inscrire</a>
						</div>
					</div>
				{% endif %}
				<a href="{{ path('app_cart') }}" class="cart-link">
                    <img src="{{ asset('asset/media/icons/shopIcon.svg') }}" alt="Icône de panier de shopping - Redirection vers page Panier">
                    <span class="cart-item-count">{{ app.session.get('cartItemCount', 0) }}</span>
                </a>
				<div class="user-dropdown responsive-menu">
					<a href="#" class="menu-icon">
						<img src="{{ asset('asset/media/icons/navigator/menu-icon.svg') }}" alt="Icône menu pour ouverture du menu sur mobile">
					</a>
					<div class="dropdown-content">
						<a href="{{ path('app_page') }}" "">Accueil</a>
						<a href="{{ path('app_categories') }}">Nos Soins</a>
						<a href="{{ path('app_our_prices') }}">Nos Tarifs</a>
						<a href="{{ path('app_about_us') }} ">À Propos</a>
						<a href="{{ path('app_about_us') }}#contact">Contact</a>
					</div>
				</div>
			</figure>
		</div>
	</header>
{% endblock %}
