	<section class="about-us-presentation">

		<figure>
			<img src="{{ asset('asset/media/banners/' ~ aboutUs.thumbnail) }}" alt="IMS Beauty - Bannière Présentation">
			<figcaption>
				<a href="https://www.instagram.com/imsbeauty01/" target="_blank" rel="noopener noreferrer"><img src="{{asset('/asset/media/icons/socialInstagram.svg')}}" alt="Icône de réseaux sociaux Instagram" class="icons"></a>
				<a href="mailto:someone@example.com"><img src="{{asset('/asset/media/icons/contactMail.svg')}}" alt="Icône de contact par email" class="icons"></a>
				<a href="https://www.facebook.com/imsbeauty01/" target="_blank" rel="noopener noreferrer"><img src="{{asset('/asset/media/icons/socialFacebook.svg')}}" alt="Icône de réseaux sociaux Facebook" class="icons"></a>
			</figcaption>
		</figure>

		<div class="presentation">
			<h1>{{ aboutUs.name}}</h1>
			<blockquote>{{ aboutUs.quote}}</blockquote>
			
			<div id="description-about-us">{{ aboutUs.description|raw  }}</div>

			<div class="redirection-buttons">
				<div class="animated-btn btn-two">
					<a href="{{ path('app_categories') }}">
						<span>Nos Soins</span>
						<img src="{{asset('asset/media/icons/deco/lotus.svg')}}" alt="Icône décoratif d'un lotus">
					</a>
				</div>
				<div class="animated-btn btn-two">
					<a href="{{ path('app_our_prices') }}">
						<span>Nos Tarifs</span>
						<img src="{{asset('asset/media/icons/deco/lotus.svg')}}" alt="Icône décoratif d'un lotus">
					</a>
				</div>
			</div>
		</div>

	</section>