	<section class="about-us-presentation">

		<figure>
			<img src="{{ asset('asset/media/banners/' ~ aboutUs.thumbnail) }}" alt="">
			<figcaption>
				<a href="https://www.instagram.com/imsbeauty01/" target="_blank"><img src="{{asset('/asset/media/icons/socialInstagram.svg')}}" alt="" class="icons"></a>
				<a href="mailto:someone@example.com"><img src="{{asset('/asset/media/icons/contactMail.svg')}}" alt="" class="icons"></a>
				<a href="https://www.facebook.com/imsbeauty01/" target="_blank"><img src="{{asset('/asset/media/icons/socialFacebook.svg')}}" alt="" class="icons"></a>
			</figcaption>
		</figure>

		<div class="presentation">
			<h1>{{ aboutUs.name}}</h1>
			<blockquote>{{ aboutUs.quote}}</blockquote>
			
			<p>{{ aboutUs.description|replace({'<div>': '', '</div>': '', '<br>': 'PLACEHOLDER_BR', '<br/>': 'PLACEHOLDER_BR'})
                            |escape('html')
                            |replace({'PLACEHOLDER_BR': '<br>'})
                            |raw  }}</p>

			<div class="redirection-buttons">
				<div class="animated-btn btn-two">
					<a href="{{ path('app_categories') }}">
						<span>Nos Soins</span>
						<img src="{{asset('asset/media/icons/deco/lotus.svg')}}" alt="">
					</a>
				</div>
				<div class="animated-btn btn-two">
					<a href="{{ path('app_our_prices') }}">
						<span>Nos Tarifs</span>
						<img src="{{asset('asset/media/icons/deco/lotus.svg')}}" alt="">
					</a>
				</div>
			</div>
		</div>

	</section>